<ul class="list-group" data-post-id="{{id}}">
        <li class="list-group-item">
                            <h2>{{title}}</h2>
                            <h4>{{content}}</h4>
                            <input class="form-control commentinput" id="CommentBtn" placeholder="Type your comment">
                        <button class="like-btn likeBtn" id="likeBtn">post Comment</button>
                            <!-- Access other user properties if needed: {{blogPost.User.id}}, {{blogPost.User.createdAt}}, etc. -->
        </li>
</ul>