   <ul class="list-group" id="postList" data-post-id="{{id}}">
        <li class="list-group-item">
                            <h2>{{title}}</h2>
                            <h4>{{content}}</h4>
                            <h5>Comments:</h5>
                                 <ul>
                                       {{#each comments}}
                                          <li>{{text}}</li>
                                       {{/each}}
                                 </ul>
                            <h6>{{blogDate}}</h6>
                            <!-- Access other user properties if needed: {{blogPost.User.id}}, {{blogPost.User.createdAt}}, etc. -->
        </li>
                        <input class="form-control commentinput" id="CommentBtn" placeholder="Type your comment">
                        <button class="like-btn likeBtn" id="likeBtn">post Comment</button>
                        <button class="update-btn updateBtn" id="updateBtn">update</button>
                        <button class="delete-btn deleteBtn" id="deleteBtn">Delete</button>
   </ul>
    



          